
body {
    height: 90vh;
    line-height: 1.6;
    background-color: #b9d0fa;
    color: #333;
    
}

.container {
    max-width: 700px;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
}

header {
    border-bottom: 2px solid rgb(2, 16, 78);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 5px;
}

header p {
    font-size: 1.2rem;
    color: #666;
}


.section {
    margin-bottom: 20px;
}

.section h2 {
    border-bottom: 2px solid rgb(2, 16, 78);
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #000;
}


ul {
    list-style-type: none; 
    margin-left: 20px;
}

.contact-info ul li {
    margin-bottom: 5px;
}


.item {
    margin-bottom: 15px;
}

.item h3 {
    font-size: 1.1rem;
    color: #000;
}

.institution {
    font-weight: bold;
    color: #555;
}

.dates {
    color: #777;
    font-size: 0.9rem;
    margin-bottom: 5px;
}


.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
}

.skills-list li {
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 5px;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
@media print {
    body {
        background-color: white;
        padding: 0;
    }
    .container {
        box-shadow: none;
        padding: 0;
    }
}
