body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #232526, #414345);
   
    text-align: center;
    color: white;
}

h1 {
    margin-bottom: 5px;
}

.subtitle {
    margin-bottom: 30px;
    color: #ccc;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    padding: 10px;
}

.card {
    background-color: #2f3640;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card h2 {
    margin-top: 0;
}

iframe {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    border: none;
}

audio {
    width: 100%;
    margin-top: 15px;
}
