

#main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans';
    background-color:wheat;
}

.shape{
    height: 200px;
    width: 200px;
  margin-left: 10px;
  margin-top: 10px;
align-items: center;
justify-content: center;   
    border: 1px solid black;
    display: flex;
}
#square:hover{
    background-color: navy;

}
#circle{
    border-radius: 50%;
}
#circle:hover{
    background-color: red;
}
#diamond{
    rotate: 45deg;
margin-top: 50px;
}
#diamond:hover{
    background-color: orange;
}
#diamond h1{
    rotate: -45deg;
}